


<head>
    <meta charset="utf-8" />
    <title>Steve's Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- // this may have to change. --}}
    <link rel="stylesheet" type="text/css" media="screen" href="chatroom.css" /> 
</head>

<body>
    <div class="header">
        <h1>What are Steve's Jobs? Discuss.</h1>
    </div>
    <div class="container">
        <div id="displaymessage">
                {{>conversation}}
        </div>
        <a href="">Update the chat room</a>
        <div>
            <form action="/{{userOne.id}}" accept-charset="UTF-8" method="post">
            <input id="usertext" name="message" type="text">
            <input type="submit" value="Send" />
            </form>
      
        </div>



    </div>


</body>

