
<head>
<title>Steve's Jobs</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalise/5.0.0/normalize.css">
{{!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> --}}
<link rel="stylesheet" href="chatroom.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


</head>
<body>
    <div class="header">
    <img class="leftSteve" src="https://avatars0.githubusercontent.com/u/34639502?s=400&v=4">
  
    <img class="rightSteve" src="https://avatars0.githubusercontent.com/u/34639502?s=400&v=4">
        <h1>What are Steve's Jobs? Discuss.</h1>
    </div>
    <div class="container">
        <div id="displaymessage">
                {{>conversation}}
        </div>
        <a href="">Update the chat room</a>
        <div>
            <form action="/{{userOne.id}}" accept-charset="UTF-8" method="post">
            <input id="usertext" name="message" type="text">
            <input type="submit" value="Send" />
            </form>
      
        </div>



    </div>


</body>

