
body{
    background-color: turquoise;
}
.container{
    height: 700px;
    width: 600px;
    border:2px solid navy;
    margin: auto;
   background-color: rgb(240, 243, 246);
}
.header{
    text-align: center;
    margin-top: 25px;
    font-family: Rale
}

.users{
    text-align:center;
}

.question{
    text-align: center;
}

.resize {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.leftSteve {
    float: left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.rightSteve{
    float:right;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.person {
    padding: 40px; 
}
#displaymessage{
    height:625px;
    width: 600px;

}
#usertext{
    height:40px;
    width: 505px;
    font-size: inherit;
    font-family: fantasy;
}
#send{
    height: 40px;
    width: 80px;
    
}


