
body{
    background-color: turquoise;
}
.container{
    height: 700px;
    width: 600px;
    border:2px solid navy;
    margin: auto;
   background-color: rgb(240, 243, 246);
}
.header{
    text-align: center;
}

.users{
    text-align:center;
}

.question{
    text-align: center;
}

.resize {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#displaymessage{
    height:650px;
    width: 600px;

}
#usertext{
    height:40px;
    width: 505px;
    font-size: inherit;
    font-family: fantasy;
}
#send{
    height: 40px;
    width: 80px;
    
}


